.card{
    margin:20px;
    background-color: red;
    padding: 10px;
    display: flex;
    flex-direction: column;
    display: table-column;
    text-align: center;
    
    border-radius: 10px;
    width: 120px;
    
}
.card > a> img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    
}

.card > a{
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    color: black;
    
}
