.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 218, 218);
    font-size: 20px;
    height: 80px;
}
.lista{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.lista > li{
    margin: 30px;
}
